<h3 class="mb-3">Últimos movimentos</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data</th>
        <th>Item</th>
        <th>Tipo</th>
        <th class="text-end">Quantidade</th>
        <th>Usuário</th>
      </tr>
    </thead>
    <tbody>
      <% movimentos.forEach(m => { %>
        <tr>
          <td><%= new Date(m.created_at).toLocaleString('pt-BR') %></td>
          <td><%= m.item %></td>
          <td>
            <span class="badge bg-<%= m.tipo === 'ENTRADA' ? 'success' : 'danger' %>"><%= m.tipo %></span>
          </td>
          <td class="text-end"><%= m.quantidade %></td>
          <td><%= m.usuario %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>


